body{
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	color: #000;
	margin: 0;
	padding: 0;
}
input, button, a, ul, li, div, p, span{
	box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
	margin: 0;
	font-weight: 900;
	font-family: "Roboto", sans-serif;
}
p{
	line-height: 1.6;
	margin: 0;
}
.container{
	width: 1125px;
	margin: 0 auto;
}
.header{
	padding-top: 22px;
	padding-bottom: 95px;
}
.menu{
	display: flex;
	justify-content: space-between;
	padding-bottom: 10px;
	margin-bottom: 110px;
	border-bottom: 1px solid #d4d4d4;
}
.nav-links{
	display: inherit;
    list-style: none;
}
.nav-link{
	margin-left: 50px;
	text-decoration: none;
	color: #000;
	transition: all 0.5s ease;
}
.nav-link: first-child{
	margin-left: 0;
}
.nav-link:hover{
	color: #84191e;
}
.icons{
	margin-left: 116px;
}
.icon{
	width: 20px;
	height: 19px;
	padding-top: 16px;
    margin-left: 24px;
}
.offer{
	width: 545px;
}
.title{
	line-height: 1.5em;
	font-weight: 500;
}
.title-span{
	color: #eb444d;
}
.text{
	font-weight: 300;
	margin: 24px 0;
}
.btn{
	background: #eb444d;
	text-decoration: none;
	text-align: center;
	color: #fff;
	padding: 12px 32px;
	border-radius: 2px;
	font-weight: 300;
	transition: all 0.5s ease;
}
.btn:hover{
	background: #d73e46;
}
.wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 110px;
}
.about-wrapper-intro2{
	margin-top: -104px;
}
.about{
	padding-top: 1px;
	padding-bottom: 63px;
	background: #f6f6f6;
}
.about-title{
	width: 520px;
}
.div-text-p{
	font-size: 18px;
	margin-top: 0.5em;
	margin-bottom: 1em;
}
.product{
	padding-top: 64px;
	padding-bottom: 109px;
}
.product-title{
	text-align: center;
}
.product-blocks{
	display: flex;
	justify-content: space-between;
	margin-top: 61px;
}
.product-block{
	width: 319px;
}
.product-block-text{
	padding-bottom: 26px;
	padding-top: 15px;
	font-size: 18px; 
}
.product-block-title{
	color: #eb444d;
	font-size: 28px;
	font-weight: 500;
}
.product-block-btn{
	font-weight: 400;
}
.contacts-block{
	width: 317px;
}
.contacts-text{
	font-size: 18px;
	padding-top: 15px;
	padding-bottom: 8px;
	font-weight: 300;
}
.contacts-title{
	margin-top: 7px;
	font-weight: 500;
	font-size: 18px;
}
.contacts-blocks{
	display: flex;
}
.contacts-contact-title{
	font-size: 24px;
	font-weight: 500;
}
.contacts-contact{
	margin-left: 47px;
	padding-top: 20px;
}
.contacts-text{
	line-height: 1.7;
}
.footer{
	background: #eb444d;
	text-align: center;
	padding: 22px 0;
	color: #fff;
	font-weight: 400;
}
html{
	scroll-behavior: smooth;
}







